body {
  transition: background-color 1s;
}
img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 200px auto;
  opacity: 0;
  transform: scale(0.5);
  /* Transition opacity and transofrms over 300ms */
  transition: all 1000ms; /* or 0.3s */
}

/* 
When image is scrolled into view we will 
toggle this class to make it visible and 
scaled to its initial size
*/
img.active {
  opacity: 1;
  transform: scale(1);
}
